:root {
  --main-color: #977eee;
  --mouse-color: rgb(236, 241, 255);
}

/* Styles for the scrollbar track */
::-webkit-scrollbar {
  width: 6px;  /* Width of the vertical scrollbar */
  height: 10px; /* Height of the HORIZONTAL (bottom-of-screen) scrollbar */
}

/* Styles for the thumb (the draggable scrolling handle) */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid rgb(34, 42, 63);
  border-radius: 26px; /* Rounded corners on the thumb */
}

/* Styles for the thumb when hovered over */
::-webkit-scrollbar-thumb:hover {
}

/* Styles for the thumb when the thumb is being clicked */
::-webkit-scrollbar-thumb:active {
  border: 1px solid #484053;
}

/* Styles for the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 12px;
}

@font-face {
  font-family: 'visitor2';
  src: url('Fonts/visitor2.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotu';
  src:url('Fonts/Gotu/Gotu-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iceland';
  src:url('Fonts/Iceland/Iceland-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src:url('Fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src:url('Fonts/Inter/static/Inter-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'grandifloraOne';
  src:url('Fonts/GrandifloraOne-Regular.ttf')
}

@font-face { /*logo font*/
  font-family: 'KaushanScript-Regular';
  src: url('Fonts/KaushanScript-Regular.ttf') 
}

@font-face {
  font-family: 'Rubik';
  src: url('Fonts/Rubik.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0px;
    font-size: 16px;
    position: relative;
}

body::before {
  content: "";
  background-image: url("Pictures/notsure.avif");
  transform: rotate(180deg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .30;
  z-index: -1;
}

.no-scroll {
  overflow: hidden;
}

.navbar {
    background-color: transparent;
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 0px 5%;
    margin: 0px;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.05);
    transition: 0.5s ease-in-out;
    z-index: 5;
    backdrop-filter: saturate(100%) blur(5px);
    margin: 0 auto;
    transform: translateY(-100px);
    opacity: 0;
}

.navbar span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1920px;
  height: 100px;
  max-height: 100px;
}

#phone-menu {
  height: 38px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  background-color: transparent;
  border: none;
  width: 50px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  right: 5%;
}

#phone-menu:hover {
  cursor: pointer;
}

#phone-menu div {
  height: 1px;
  width: 100%;
  background-color: white;
  transition: .2s;
}

#phone-menu div:first-child {
  width: 70%;
}

#phone-menu div:last-child {
  width: 50%;
}

#phone-menu:hover #first-line,
#phone-menu:hover #last-line {
    width: 100%;
}

.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 30;
}

.nav-logo-box {
  width: 370px;
}

.nav-logo {
  height: 60px;
  transition: 0.25s;
}

.nav-logo:hover {
  transform: scale(0.95);
  opacity: 0.8;
}

.nav-logo:active {
  transform: scale(0.9);
}

/* nav-tools is middle section of hyperlinks navbar*/
.nav-tools {
    display: flex;
    align-items: center;
    padding-left:0px;
    height: 100%;
    margin: 0px;
}

.nav-tools > a:first-of-type {
  transform: scale(1.05);
}

.nav-tools > a:not(:first-child),
.curriculum-dropdown,
.curriculum-heading,
.curriculum-link { /* 3 elements b/c to not target entire curriculum-box, but instead targeting elements inside it
  /* Your styles here */
  opacity: .85;
}

.nav-tools > a:not(:first-child):hover,
.curriculum-dropdown:hover,
.curriculum-heading:hover,
.curriculum-link:hover {
  opacity: 1;
}

/* nav-item is individual BOX of hyperlink*/
.navbar .nav-item {
    height: 50px;
    align-items: center;
    display: flex;
    background-color: transparent;
    padding: 0px 20px;
    border: none;
    position: relative;
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 15px;
    list-style-type: none;
    font-family: gotu, 'Courier New', Courier, monospace, Courier, monospace, Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    transition: .3s;
  }

/*underline effect on any hyperlinks*/
.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(207, 193, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  z-index: 5;
}

.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
  z-index: 5;
}

.curriculum-box {
  text-align: center;
  position: relative;
  transition: .3s;
}

.navbar .curriculum-dropdown {
  list-style-type: none;
  display: flex;
  justify-content: left;
  z-index: 20;
}

.dropdown-arrow {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
  margin-left: 8px;
  margin-top: -5px;
  transition: 0.5s;
  z-index: 20;
}

.curriculum-dropdown-content-box {
  background-color: black;
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
  position: absolute;
  width: 500px;
  transition: 0.2s ease-in;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
}

.curriculum-dropdown-content-box::before {
  content: "";
  background-image: url("Pictures/curriculum-background2.jpg");
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .25;
  z-index: -1;
}

.curriculum-dropdown-content {
  padding: 25px 50px;
  
}

.curriculum-dropdown-content .curriculum-subject {
  color: white;
  font-family: gotu, 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.curriculum-heading {
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 15px 10px 0px;
}

.curriculum-dropright {
  height: 6px;
  width: 6px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(-45deg);
  margin-left: 4px;
}

.curriculum-links-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  visibility: hidden;
}

.curriculum-link {
  color: white;
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(10px);
}

.new-symbol {
  font-size: 11px;
  margin-right: 3px;
  color: rgb(245, 236, 255);
  background-color: black;
  border-width: 0.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
}

.navbar .nav-button {
  border: none;
  padding: 0px;
  background-color: #a496d6;
  display: flex;
  background-color: transparent;
  padding: 0px 20px;
  border: none;
  position: relative;
  list-style-type: none;
  border-radius: 4px;
  transition: 0.25s;
  font-family: 'Courier New', Courier, monospace;
  border-width: 1.5px;
  border-style: solid;
  font-size: 16px;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
}

.nav-button:hover {
  transform: scale(1.05) translateY(-2px);
}

.nav-button:active {
  transform: scale(0.95);
}


/*
.nav-contact {
    display: flex;
    align-items: center;
}

#phone {
    height:50px;
    border-radius: 25px;
    margin-right: 10px;
    opacity: .85;
}

#number {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(203, 199, 212)
}
*/

  /* beginning of homepage, */
.homepage {
    /*background-color: #678383;*/
    background-color: transparent;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    transition: 1.5s ease-in-out;
    transform: scale(1.10);
}

.homepage::before {
  
}

.homepage .typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing .8s steps(40, end),
    blink-caret .8s step-end 0s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: #d1c8f1 }
  20% { border-color: transparent; }
  40% { border-color: #d1c8f1}
  60% { border-color: transparent; }
  80% { border-color: #d1c8f1}
}

.homepage .typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #372966; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 1.5s steps(40, end) forwards,
    blink-caret 1.5s step-end 0s;
    animation-delay: .8s;
    width: 0;
    border-color: transparent;
}

.homepage .typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #372966; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end) forwards,
    blink-caret .75s step-end infinite;
    animation-delay: 2.3s;
    width: 0;
    border-color: transparent;
}

.homepage-content {
  display: inline-block;
  flex-direction: column;
  color: rgb(211, 196, 235);
  z-index: 6;
  font-family: rubik;
  width: 390px;
}

.homepage-hair {
  font-size: 1rem;
  display: inline-block;
  margin-top: 230px;
  font-family: gotu;
}

.homepage-heading {
  width: 100%;
  font-size: 3.75rem;
  font-weight: 600;
  margin: 10px 0px;
  margin-top: 0px;
  display: inline-block;
}

#charlotte {
  color:#f3e8ff;
}

.homepage-text {
  display: flex;
  text-align: left;
  width: auto;
  display: inline-block;
  margin-top: 150px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  margin-bottom: 260px;
}

.title-line {
  width: 475px;
  margin-top:-10px;
  transition: 1.5s linear;
  transform: scaleX(0);
  opacity: 0.8;
  border-image: linear-gradient( to bottom right, rgb(195, 201, 255), #000511 ) 1;
}

.hp-line {
  border-width: 0.5px;
  width: 1600px;
  margin-top: -50px;
  margin-bottom: 100px;
  opacity: 0.6;
  transition: 1.5s;
  transform: scaleX(0);
  border-image: linear-gradient( to bottom right, rgb(221, 195, 255), #0C0011 ) 1;
}

#mouse-scroll {
  position: absolute;
  margin: auto;
  left: 1650px;
  top: 600px;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  text-align: center;
  transform: translateY(-40px);
  transition: 1.5s ease-in-out;
}

#mouse-scroll:hover .mouse {
  box-shadow: 0 0 50px 10px rgba(183, 208, 255, 0.6);
}

.mouse-title {
  color: var(--mouse-color);
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 5px;
  font-size: 12px;
}

#mouse-scroll span {
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid var(--mouse-color);
  border-bottom: 2px solid var(--mouse-color);
  margin: 0 0 3px 0px;
}

#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid var(--mouse-color);
  top: 170px;
  transition: 0.3s ease-in-out;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
  animation-delay: .1s;
  animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  animation-delay: .2s;
  animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  animation-delay: .3s;
  animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: var(--mouse-color);
  position: relative;
}
#mouse-scroll .mouse-in {
 animation: animated-mouse 2s ease infinite;
}

@keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* mouse bouncing effect */
@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.8;
    
  }
  50% {
    transform: translateY(-30px);
    opacity: .6;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

.bounce {
  animation: bounce 5s infinite;
  animation-delay: 8s;
}

/* footer-message bouncing effect */
@keyframes light-bounce {
  0% {
    transform: translateY(0);
    opacity: 0.8;
    
  }
  50% {
    transform: translateY(-15px);
    opacity: .6;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

.light-bounce {
  animation: light-bounce 5s infinite;
}

/* start of body page */

.bodypage {
  font-family: 'Courier New', Courier, monospace;
}


#body1 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

/* The next selector is to
set the background image on body1
seperately using background-image 
because using a <img> in html with 
position: absolute, the opacity affects
the text inside too.*/

#body1 .body1-content {
}

.body1-segment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s ease-in-out;
}

#body1 .typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #372966; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end) forwards,
    blink-caret .75s step-end infinite;
}

.body1-segment-heading {
  width: 25%;
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  color: #E0DDEE;
  font-size: 42px;
  font-weight: 400;
}

.body1-segment-content {
  width: 50%;
  color: rgb(237, 249, 255);
  font-size: 22px;
  font-weight: lighter;
}

#body1 .why-cltutoring_content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#body1 .why-cltutoring_segment {
  width: 100%;
  text-align: center;

}

#body1 .why-cltutoring_single-pic {
  height: 175px;
}

#body1 .why-cltutoring_segment span {
  display: flex;
  justify-content: center;
}

#body1 .why-cltutoring_caption {
  text-align: center;
  font-weight: lighter;
  padding-top: 10px;
  margin: 0px;
  font-size: 20px;
  width: 80%;

}


.reviews {
  text-align: center;
  margin: 200px 0px;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

/* .reviews-heading {
  font-size: 50px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: white;
} */

.reviews-first-line-box {
  width: 1400px;
  margin: 0px auto;
  position: relative;
  height: 160px; /* changes gap from first-line to reviews */
  z-index: 3; /* needs to be above reviews so it's detectable for javascript "isInViewport()" */
}

.reviews-first-line {
  border-width: 0.5px;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 120px;
  transition: 1s ease-in-out;
  border-image: linear-gradient( to bottom right, rgb(188, 172, 233), #0e0011 ) 1;
  box-shadow: 0 0px 100px 10px rgb(115, 66, 161);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-200px);
  opacity: 0;
}

.reviews-second-line-box {
  width: 1400px;
  margin: 0px auto;
  position: relative;
  height: 230px; /* changes gap from second-line to footer */
  z-index: 3; /* needs to be above reviews so it's detectable for javascript "isInViewport()" */
}

.reviews-second-line {
  border-width: 0.5px;
  width: 600px;
  transition: 1s ease-in-out;
  border-image: linear-gradient( to bottom right, rgb(188, 172, 233), #0e0011 ) 1;
  margin-top: 100px;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  top: 40px; /* changes gap from reviews to second-line*/
  box-shadow: 0 -20px 100px 7px rgb(98, 24, 168);
  transform: translateX(200px) rotate(180deg);
  opacity: 0;
}

.reviews-box {
  display: flex;
  justify-content: center;
}

.review-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0px 50px;
  transition: 1s ease-in-out;
  opacity: 0;
  transform: translateY(50px);
}

.review-item:hover {
  transform: scale(0.98);
}

.review-item:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.review-outline {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.15) ) 1;
  box-shadow: 0 0px 10px .1px rgba(224, 214, 250, 0.2);
  z-index: 3;
}

.review-outline::before {
  content: "";
  background-image: url("Pictures/curriculum-background2.jpg");
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .25;
  z-index: -1;
}

.review {
  padding: 60px 50px;
  width: 300px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  color: white;
}

.review-text {
}

.review-person {
  margin-top: 40px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-size: 12px;
  margin-left: 10px;
  opacity: 0.7;
}

.reviewer {
  margin-right: 30px;
}

.review-bottom {
  height: 26px;
  width: 26px;
  background-color: #040207;
  border-bottom: 1px solid #463853;
  border-right: 1px solid #463853;
  transform: rotate(45deg);
  margin-top: -13px;
  margin-left: 75px;
  transition: 0.5s;
  z-index: 20;
}

.footer {
  text-align: center;
}

/*
.footer::before {
  content: "";
  background-image: url("Pictures/whenever.jpg");
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
  z-index: -1;
}
*/

.footer-line {
  border-width: 0.5px;
  width: 1400px;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.6;
  transition: 1.5s;
  transform: scaleX(0);
  border-image: linear-gradient( to bottom right, rgb(188, 172, 233), #0e0011 ) 1;
  box-shadow: 0 -20px 100px 7px rgb(224, 214, 250);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  z-index: 2;
  font-family: gotu, 'Courier New', Courier, monospace;
  margin: 80px auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(30px);
  transition: 1.3s ease-in-out;
}

.footer .socials {
  display: flex;
  justify-content: center;
  margin-top: auto;
  transform: translateY(30px);
}

.footer .socials a {
  margin: 0px 5px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  transition: 0.2s;
}

.footer .socials a:nth-child(2) { /* just changes tiktok hover to be more circular */
  border-radius: 50%;
}

.footer .socials a:hover {
  background-color: #252425;
}

.footer .socials a img {
  width: 30px;
  opacity: 0.8;
}

.socials-line {
  width: 220px;
  opacity: 0.4;
  margin: 0px 0px 30px 0px;
  border-image: linear-gradient( to bottom right, rgb(188, 172, 233), #0e0011 ) 1;
  box-shadow: 0 0px 100px 7px rgb(224, 214, 250);
}

.footer-tools {
  display: flex;
  opacity: 0;
  transform: translateY(30px);
  transition: 1.3s ease-in-out;
}

.footer-tools .footer-section a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.footer-tools .footer-section a span {
  display: flex;
  align-items: center;
}

.right-arrow {
  height: 20px;
  margin-left: 5px;
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.3s;
}

.footer-tools .footer-section a:first-of-type {
  font-size: 20px;
  text-align: left;
}

.footer-tools .footer-section > *:not(a:first-of-type) {
  opacity: 0.6;
  transition: 0.1s;
}
.footer-tools .footer-section > *:not(a:first-of-type):hover {
  opacity: 0.8;
}

.footer-message {
  color: white;
  font-family: gotu, 'Courier New', Courier, monospace;
  transition: 2s ease-in-out;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.footer-message > div:first-of-type {
  cursor: pointer;
}

.footer-message_underline {
  width: 180px;
  border-image: linear-gradient( to bottom right, rgb(195, 201, 255), #000511 ) 1;
  margin: 0px;
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
  transform-origin: 0% 50%;
}