:root {
  --main-color: #977eee;
  --mouse-color: rgb(236, 241, 255);
}

/* Styles for the scrollbar track */
::-webkit-scrollbar {
  width: 6px;  /* Width of the vertical scrollbar */
  height: 10px; /* Height of the HORIZONTAL (bottom-of-screen) scrollbar */
}

/* Styles for the thumb (the draggable scrolling handle) */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid rgb(34, 42, 63);
  border-radius: 26px; /* Rounded corners on the thumb */
}

/* Styles for the thumb when hovered over */
::-webkit-scrollbar-thumb:hover {
}

/* Styles for the thumb when the thumb is being clicked */
::-webkit-scrollbar-thumb:active {
  border: 1px solid #484053;
}

/* Styles for the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 12px;
}

@font-face {
  font-family: 'happy-monkey';
  src: url('Fonts/HappyMonkey-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visitor2';
  src: url('Fonts/visitor2.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotu';
  src:url('Fonts/Gotu/Gotu-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src:url('Fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src:url('Fonts/Inter/static/Inter-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'grandifloraOne';
  src:url('Fonts/GrandifloraOne-Regular.ttf')
}

@font-face { /*logo font*/
  font-family: 'KaushanScript-Regular';
  src: url('Fonts/KaushanScript-Regular.ttf') 
}

@font-face {
  font-family: 'Rubik';
  src: url('Fonts/Rubik.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0px;
  font-size: 16px;
  position: relative;
  transition: 3s;
  overflow-x: hidden;
}

body::before {
  content: "";
  background-image: url("Pictures/background.jpg");
  transform: rotate(180deg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .75;
  z-index: -1;
}

.no-scroll {
  overflow: hidden;
}

.navbar {
    background-color: transparent;
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 0px 5%;
    margin: 0px;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.05);
    transition: 0.5s ease-in-out;
    z-index: 5;
    backdrop-filter: saturate(100%) blur(5px);
    margin: 0 auto;
    transform: translateY(-100px);
    opacity: 0;
}

.navbar > span {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
}

#phone-menu-button {
  height: 50px;
  width: 60px;
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in-out;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#phone-menu-button > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  width: 60%;
  height: 80%;
}

#phone-menu-button:hover {
  cursor: pointer;
}

#phone-menu-button > div > div {
  height: 1px;
  width: 90%;
  background-color: white;
  transition: .2s;
}

#phone-menu-button > div > div:first-child {
  width: 70%;
}

#phone-menu-button > div > div:last-child {
  width: 50%;
}

#phone-menu-button:hover > div > div {
    width: 100%;
}

#phone-menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
}

#phone-menu::before {
  content: "";
  background-image: url("Pictures/curriculum-background.jpg");
  background-position: top;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .35;
  filter: blur(4px);
  z-index: -1;
}

.phone-menu-tools {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.phone-menu-link {
  color: white;
  font-family: gotu, rubik, 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 14px 0px;
  text-decoration: none;
  transition: .3s;
}

.phone-curriculum-box

.phone-curriculum-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;

}

.phone-dropdown-arrow {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  margin-left: 10px;
  margin-bottom: 8px;
  transform: rotate(45deg);
  transition: 0.5s;
  z-index: 20;
}

.phone-menu-tools > :first-child {
  transform: scale(1.10) translateX(14px);
}

.phone-menu-tools > :not(:first-child) {
  opacity: 0.75;
}

.phone-menu-tools > :not(:first-child):hover {
  opacity: 1;
}

.navbar-hovered {
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: saturate(100%) blur(8px);
}

.nav-logo-box {
  justify-content: end;
  width: 308px;
}

.nav-logo {
  height: 60px;
  transition: 0.25s;
}

.nav-logo:hover {
  transform: scale(0.95);
  opacity: 0.8;
}

.nav-logo:active {
  transform: scale(0.9);
}

/* nav-tools is middle section of hyperlinks navbar*/
.nav-tools {
  display: flex;
  align-items: center;
  padding-left:0px;
  height: 100%;
  margin: 0px;
}

.nav-tools > a:first-of-type {
  transform: scale(1.05);
}

.nav-tools > a:not(:first-child),
.curriculum-dropdown,
.curriculum-heading,
.curriculum-link { /* 3 elements b/c to not target entire curriculum-box, but instead targeting elements inside it
  /* Your styles here */
  opacity: .85;
}

.nav-tools > a:not(:first-child):hover,
.curriculum-dropdown:hover,
.curriculum-heading:hover,
.curriculum-link:hover {
  opacity: 1;
}

/* nav-item is individual BOX of hyperlink*/
.navbar .nav-item {
    height: 50px;
    align-items: center;
    display: flex;
    background-color: transparent;
    padding: 0px 20px;
    border: none;
    position: relative;
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 15px;
    list-style-type: none;
    font-family: gotu, 'Courier New', Courier, monospace, Courier, monospace, Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    transition: .3s;
    text-shadow: 0 0 10px #ffffff9c, 0 0 15px #967eeeb2;
  }

/*underline effect on any hyperlinks*/
.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(207, 193, 255);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  z-index: 5;
}

.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
  z-index: 5;
}

.curriculum-box {
  text-align: center;
  position: relative;
  transition: .3s;
}

.navbar .curriculum-dropdown {
  list-style-type: none;
  display: flex;
  justify-content: left;
  z-index: 20;
  cursor: pointer;
}

.dropdown-arrow {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
  margin-left: 8px;
  margin-bottom: 5px;
  transition: 0.5s;
  z-index: 20;
}

.curriculum-dropdown-content-box {
  background-color: rgb(11, 0, 22);
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
  position: absolute;
  width: 500px;
  transition: 0.2s ease-in;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 100px .1px rgba(224, 214, 250, 0.2);

}

.curriculum-dropdown-content-box::before {
  content: "";
  background-image: url("Pictures/itried.jpg");
  background-position: left;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .25;
  z-index: -1;
}

.curriculum-dropdown-content {
  padding: 25px 50px;
  
}

.curriculum-dropdown-content .curriculum-subject {
  color: white;
  font-family: gotu, 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.curriculum-heading {
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 15px 10px 0px;
}

/* math heading */
.curriculum-subject:last-of-type {
  margin-left: 40px;
  margin-top: 10px;
}

.curriculum-dropright {
  height: 6px;
  width: 6px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(-45deg);
  margin-left: 4px;
}

.curriculum-links-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  visibility: hidden;
}

.curriculum-link {
  color: white;
  text-decoration: none;
  font-size: 13px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(10px);
}

.new-box {
  font-size: 11px;
  margin-right: 5px;
  color: rgb(245, 236, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 0.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
}

.new-box-text {
  padding: 0px 4px;
}

.nav-buttons-box {
  display: flex;
}

.navbar .nav-button {
  background-color: transparent;
  padding: 0px 20px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.navbar .nav-button:first-of-type {
  font-size: 17px;
  font-weight: 100;
  text-shadow: rgb(188, 146, 255) 6px 4px 1px;
}

.navbar .nav-button:last-of-type{
  border-radius: 4px;
  transition: 0.25s;
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
}

.nav-button:hover {
  transform: scale(1.05) translateY(-2px);
}

.navbar .nav-button:first-of-type:hover {
  text-shadow: rgb(160, 119, 255) 0px 0px 1px;
  transform: scale(1.08);
  color: rgb(236, 227, 255);
}

.nav-button:active {
  transform: scale(0.95);
}

  /* beginning of homepage, */
.homepage {
    /*background-color: #678383;*/
    background-color: transparent;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    transition: 1.5s ease-in-out;
    transform: scale(1.10);
    overflow-x: clip;
}

/* on phone homepage shouldn't be transformed b/c it overflows out the page */
@media (max-width: 480px) {
  .homepage {
    transform: scale(1.00);
  }
}

.homepage::before {
  
}

.homepage .typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing .8s steps(40, end),
    blink-caret .8s step-end 0s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: #d1c8f1 }
  20% { border-color: transparent; }
  40% { border-color: #d1c8f1}
  60% { border-color: transparent; }
  80% { border-color: #d1c8f1}
}

.homepage .typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #372966; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 1.5s steps(40, end) forwards,
    blink-caret 1.5s step-end 0s;
    animation-delay: .8s;
    width: 0;
    border-color: transparent;
}

.homepage .typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #372966; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end) forwards,
    blink-caret .75s step-end infinite;
    animation-delay: 2.3s;
    width: 0;
    border-color: transparent;
}

.homepage-content {
  display: inline-block;
  flex-direction: column;
  color: rgb(211, 196, 235);
  z-index: 6;
  font-family: rubik, gotu, 'Courier New', Courier, monospace;
  max-width: 390px;
}

.homepage-hair {
  font-size: 1rem;
  display: inline-block;
  margin-top: 200px;
  font-family: gotu, rubik, 'Courier New', Courier, monospace;
}

.homepage-heading {
  color: rgb(246, 240, 255);
  text-shadow: 0 0 10px #ffffff4d, 0 0 15px #967eee9d;
  width: 100%;
  font-size: 3.75rem;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 0px;
  font-family: KaushanScript-Regular;
}

#charlotte {
  color:#f3e8ff;
}

.homepage-text {
  display: flex;
  text-align: left;
  display: inline-block;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  color: rgb(211, 196, 235);
  z-index: 6;
}

.title-line {
  max-width: 450px;
  margin-top: -10px;
  transition: 1.5s linear;
  transform: scaleX(0);
  border-image: linear-gradient( to bottom right, rgb(174, 169, 221), #030011 ) 1;
  margin-bottom: 150px;
}

.hp-line {
  border-width: 0.5px;
  max-width: 1400px;
  margin-top: 0px;
  margin-bottom: 100px;
  transition: 1.5s;
  transform: scaleX(0);
  border-image: linear-gradient( to bottom right, rgb(175, 144, 216), #0C0011 ) 1;
}

#mouse-scroll-box {
  max-width: 1275px;
  margin: 0px auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: end;
  margin-top: 76px;
}

#mouse-scroll-box a {
}

#mouse-scroll {
  margin: auto;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  text-align: center;
  transform: translateY(-40px);
  transition: 1.5s ease-in-out;
}

#mouse-scroll:hover .mouse {
  box-shadow: 0 0 50px 10px rgba(183, 208, 255, 0.6);
}

.mouse-title {
  color: var(--mouse-color);
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
}

#mouse-scroll span {
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid var(--mouse-color);
  border-bottom: 2px solid var(--mouse-color);
  margin: 0 0 3px 0px;
}

#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid var(--mouse-color);
  top: 170px;
  transition: 0.3s ease-in-out;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
  animation-delay: .1s;
  animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  animation-delay: .2s;
  animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  animation-delay: .3s;
  animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: var(--mouse-color);
  position: relative;
}
#mouse-scroll .mouse-in {
 animation: animated-mouse 2s ease infinite;
}

@keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* mouse bouncing effect */
@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.8;
    
  }
  50% {
    transform: translateY(-30px);
    opacity: .6;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

.bounce {
  animation: bounce 5s infinite;
  animation-delay: 8s;
}

/* footer-message bouncing effect */
@keyframes light-bounce {
  0% {
    transform: translateY(0);
    opacity: 0.8;
    
  }
  50% {
    transform: translateY(-15px);
    opacity: .6;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

.light-bounce {
  animation: light-bounce 5s infinite;
}

/* start of body page */

.bodypage {
  font-family: 'Courier New', Courier, monospace;
  overflow-x: clip;
}

.body0 {
  margin: 150px 0px;
  font-family: gotu, 'Courier New', Courier, monospace;
  color: white;
  transition: 1s ease-in-out;
}

.body0-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px 0px;
}

.body0-container {
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.body0-container:first-of-type {
  margin-bottom: 100px;
}

.body0-line {
  width: 100px;
  border-width: 0.5px;
  max-width: 100px;
  margin: 0px;
  margin-bottom: 25px;
  border-image: linear-gradient( to right, rgb(175, 144, 216), #0C0011 ) 1;
  transform: translateX(75px);
  opacity: 0;
  transition: 1s ease-in-out;
  box-shadow: -30px 0px 40px 10px rgba(224, 214, 250, 0.2);
}

.body0-section:first-child .body0-indent:nth-child(2) {
  align-items: start;
}

.body0-indent {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.body0-sec1-indent:last-of-type {
  width: 92.5%;
  margin-left: 7.5%;
}

.body0-heading {
  letter-spacing: 5px;
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 20px;
  transform: translateX(75px);
  opacity: 0;
  transition: 1s ease-in-out;
}

.body0-section:first-child .body0-indent .body0-indent {
  transform: translateX(75px);
  opacity: 0;
  transition: 1s ease-in-out;
}

.body0-sec1-content-desc {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: .2em;
  margin-bottom: 50px;
  line-height: 120%;
}

.learn-more-button {
  display: flex;
  font-family: gotu;
  background-color: transparent;
  border-radius: 4px;
  transition: 0.25s;
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
  box-shadow: 0 0px 40px 10px rgba(224, 214, 250, 0.2);

}

.learn-more-button:hover {
  transform: scale(0.95);
}

.learn-more-button:active {
  transform: scale(0.9);
}

.learn-more-button a {
  font-size: 15px;
  padding: 16px 19px;
  text-decoration: none;
  color: white;
  letter-spacing: 1.5px;
  font-weight: lighter;
}


.body0-sec2-title-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  margin-top: 20px;
  transform: translateX(75px);
  opacity: 0;
  transition: 1s ease-in-out;
}

.body0-sec2-heading {
  letter-spacing: 5px;
  font-size: 36px;
  font-weight: lighter;
  margin: 0px;
}

.body0 .services {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.body0 .service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 45px;
  width: 30%;
  box-shadow: 0 0px 100px 0.1px rgba(224, 214, 250, 0.2);
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease-in-out;
}

.body0 .service-box:hover {
  transform: scale(.97);
  opacity: .85;
  color:whitesmoke;
}

.body0 .service-box:first-of-type {
  background-image: linear-gradient(to bottom left, #2a0841, #10021B);
}

.body0 .service-box:nth-of-type(2) {
  background-image: linear-gradient(to bottom, #2a0841, #10021B);
  box-shadow: 0 10px 100px 0.1px rgba(224, 214, 250, 0.2);
}

.body0 .service-box:last-of-type {
  background-image: linear-gradient(to bottom right , #2a0841, #10021B);
}

.body0 .service-img {
  width: 130px;
  margin: 30px 0px;
  margin-top: 50px;
  border-radius: 100px;
}

.body0 .service-heading {
  font-family: happy-monkey;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: lighter;
  margin: 0px;
}

.body0 .service-desc {
  margin: 30px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 16px;
  letter-spacing: 2px;
  width: 70%;
  line-height: 120%;
}

.body0 .service-box .learn-more-button {
  margin-bottom: 50px;
  border-image: linear-gradient( to bottom, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
}




#body1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

#body1 .body1-heading {
  color: rgb(211, 196, 235);
  font-size: 30px;
  font-weight: bolder;
  font-family: gotu, 'Courier New', Courier, monospace;
}

#body1 .body1-content {
}

.body1-segment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s ease-in-out;
  max-width: 1500px;
}

#body1 .typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #372966; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation:
    typing 2s steps(40, end) forwards,
    blink-caret 1.5s step-end infinite;
}

.body1-segment-heading {
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  color: #E0DDEE;
  font-size: 42px;
  font-weight: 400;
}

.body1-segment-content {
  width: 65%;
  color: rgb(237, 249, 255);
  font-size: 22px;
  font-weight: lighter;
}

#body1 .why-cltutoring_content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#body1 .why-cltutoring_segment {
  text-align: center;
}

#body1 .why-cltutoring_single-pic {
  height: 175px;
}

#body1 .why-cltutoring_segment span {
  display: flex;
  justify-content: center;
}

#body1 .why-cltutoring_caption {
  text-align: center;
  font-weight: lighter;
  padding-top: 10px;
  margin: 0px;
  font-size: 20px;
  max-width: 80%;

}

.reviews {
  text-align: center;
  margin-bottom: 200px;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
  overflow-x: clip;
}

/* .reviews-heading {
  font-size: 50px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: white;
} */

.reviews-first-line-box {
  max-width: 1400px;
  margin: 0px auto;
  position: relative;
  height: 160px; /* changes gap from first-line to reviews */
  z-index: 3; /* needs to be above reviews so it's detectable for javascript "isInViewport()" */
}

.reviews-first-line {
  border-width: 0.5px;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 120px;
  transition: 1s ease-in-out;
  border-image: linear-gradient( to bottom right, rgb(188, 172, 233), #0e0011 ) 1;
  box-shadow: 0 0px 60px 20px rgba(224, 214, 250, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-200px);
  opacity: 0;
}

.reviews-second-line-box {
  max-width: 1400px;
  margin: 0px auto;
  position: relative;
  height: 230px; /* changes gap from second-line to footer */
  z-index: 3; /* needs to be above reviews so it's detectable for javascript "isInViewport()" */
  overflow-x: clip;
}

.reviews-second-line {
  border-width: 0.5px;
  width: 600px;
  transition: 1s ease-in-out;
  border-image: linear-gradient( to bottom right, rgb(188, 172, 233), #0e0011 ) 1;
  margin-top: 100px;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  top: 40px; /* changes gap from reviews to second-line*/
  box-shadow: 0 0px 60px 10px rgba(224, 214, 250, 0.2);
  transform: translateX(200px) rotate(180deg);
  opacity: 0;
}

.reviews-box {
  display: flex;
  justify-content: center;
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0px 50px;
  transition: 1s ease-in-out;
  opacity: 0;
  transform: translateY(50px);
}

.review-item:hover {
  transform: scale(0.98);
}

.review-item:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.review-outline {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1.5px;
  border-style: solid;
  border-image: linear-gradient( to bottom right, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.15) ) 1;
  box-shadow: 0 0px 100px .1px rgba(224, 214, 250, 0.2);
  z-index: 3;
}

.review-outline::before {
  content: "";
  background-image: url("Pictures/curriculum-background2.jpg");
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .15;
  z-index: -1;
}

.review {
  padding: 60px 50px;
  max-width: 300px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  color: white;
}

.review-text {
}

.review-person {
  margin-top: 40px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-size: 12px;
  margin-left: 10px;
  opacity: 0.7;
}

.reviewer {
  margin-right: 10px;
}

.review-bottom {
  height: 26px;
  width: 26px;
  background-color: #0F0116;
  border-bottom: 1px solid #463853;
  border-right: 1px solid #463853;
  transform: rotate(45deg);
  margin-top: -13px;
  margin-left: 75px;
  transition: 0.5s;
  z-index: 20;
  box-shadow: 3px 3px 30px .1px rgba(224, 214, 250, 0.2);
}

.footer {
  text-align: center;
}

/*
.footer::before {
  content: "";
  background-image: url("Pictures/whenever.jpg");
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
  z-index: -1;
}
*/

.footer-line {
  border-width: 0.5px;
  max-width: 1400px;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.6;
  transition: 1.5s;
  transform: scaleX(0);
  border-image: linear-gradient( to bottom right, rgb(188, 172, 233), #0e0011 ) 1;
  box-shadow: 0 -20px 100px 7px rgb(224, 214, 250);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  z-index: 2;
  font-family: gotu, 'Courier New', Courier, monospace;
  margin: 80px auto;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(30px);
  transition: 1.3s ease-in-out;
}

.footer .socials {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer .socials a {
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  transition: 0.2s;
}

.footer .socials a:nth-child(2) { /* just changes tiktok hover to be more circular */
  border-radius: 50%;
}

.footer .socials a:hover {
  background-color: #252425;
}

.footer .socials a img {
  padding: 2.5px;
  width: 30px;
  opacity: 0.8;
}

.socials-line {
  max-width: 220px;
  opacity: 0.4;
  margin: 0px;
  border-image: linear-gradient( to bottom right, rgb(188, 172, 233), #0e0011 ) 1;
  box-shadow: 0 -6px 50px 2px rgb(224, 214, 250);
}

.footer-tools {
  display: flex;
  opacity: 0;
  transform: translateY(30px);
  transition: 1.3s ease-in-out;
}

.footer-tools .footer-section a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.footer-tools .footer-section a span {
  display: flex;
  align-items: center;
}

.right-arrow {
  height: 20px;
  margin-left: 5px;
  transform: translateX(-20px);
  opacity: 0;
  transition: 0.3s;
}

.footer-tools .footer-section:first-child {
  margin-right: 30px;
}

.footer-tools .footer-section:nth-child(2) {
  margin-right: 75px;
}

.footer-tools .footer-section a:first-of-type {
  font-size: 20px;
  text-align: left;
}

.footer-tools .footer-section > *:not(a:first-of-type) {
  opacity: 0.6;
  transition: 0.1s;
}
.footer-tools .footer-section > *:not(a:first-of-type):hover {
  opacity: 0.8;
}

.footer-message {
  color: white;
  font-family: gotu, 'Courier New', Courier, monospace;
  transition: 2s ease-in-out;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.footer-message > div:first-of-type {
  cursor: pointer;
}

.footer-message_underline {
  border-image: linear-gradient( to bottom right, rgb(195, 201, 255), #000511 ) 1;
  margin: 0px;
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
  transform-origin: 0% 50%;
}




/* HOMEPAGE SECTION on phone */
@media (max-width: 1000px) {
  .hp-line {
    max-width: 90%;
  }
}
@media (max-width: 480px) {
  .title-line {
    max-width: 40%;
  }
}


/* REVIEWS SECTION on phone */
@media (max-width: 1000px) { /* 620 px is where it looks good on phone */
  .reviews-box {
    flex-direction: column;
    align-items: center; /* This centers the review items on smaller screens */
  }

  .review-item {
    margin: 20px 0; /* Adjust the top and bottom margins as needed */
    width: 80%; /* You might want to set a width for the items to look good on mobile */
  }

  .reviews-first-line-box,
  .reviews-second-line-box {
    width: 100%; /* Full width for the lines */
  }

  .reviews-first-line,
  .reviews-second-line {
    width: 80%; /* Adjust the width of the lines to fit the mobile view */
    margin-top: 50px; /* Adjust the margin as needed */
    margin-bottom: 50px; /* Adjust the margin as needed */
  }

  /* reduce font sizes */
  .review {
    font-size: 17px;
    padding: 60px 50px;
    width: 270px;
    line-height: 120%;
  }

}


/* FOOTER SECTION on phone */
@media (max-width: 1000px) {
  .footer {
    /* Make sure the footer is not too wide for mobile screens */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .footer-line {
    width: 80%;
    max-width: 80%;
    box-shadow: 0 0px 45px 4px rgb(224, 214, 250);
  }
  
  .footer-content {
    /* Use flex-wrap to allow items to wrap onto the next line as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* Set the width to a percentage and add padding for smaller screens */
    width: 100%;
    margin: 0 auto;
  }
  
  .social-media {
    /* Allow this section to take the full width on smaller screens */
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .socials-line {
    margin-bottom: 20px;
    box-shadow: 0 -6px 50px 4px rgb(224, 214, 250);
  }
  
  .footer-tools {
    /* Set to column direction for small screens */
    flex-direction: column;
    width: 75%;
  }


  .footer-message {
    /* Center the message and ensure it has some padding on small screens */
    padding: 20px;
    width: 100%;
  }

  .footer-content {
    /* Set a max-width for the content to align properly on larger screens */
    max-width: 1200px;
  }

  .footer-tools .footer-section {
    /* Allow sections to be inline on larger screens */
    width: auto;
  }

  .footer-message {
    /* Adjust padding for larger screens */
    padding: 20px 0;
  }
  
  .footer-tools .footer-section:first-child {
    margin-right: 0px;
  }
  
  .footer-tools .footer-section:nth-child(2) {
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .footer-tools .footer-section:nth-child(2) a:first-child { /* the Register a Class heading*/
    margin-bottom: 0px;
    display: none;
  }

  .footer-tools .footer-section:last-child { /* the Register a Class heading*/
    margin-bottom: 30px;
  }
}

/* Base styles that apply to all screen sizes */
/* ... */



/* BODY 0 on phone */
/* Media query for tablets */
@media (max-width: 1000px) {
  .body0 .services {
    flex-direction: column; /* Stack service boxes vertically */
    align-items: center; /* Center-align the boxes */
    width: auto; /* Adjust width to auto for smaller screens */
  }
  
  .body0 .service-box {
    width: 80%; /* Set a width percentage for mobile devices */
    margin-bottom: 20px; /* Add some space between the boxes */
  }
  
  /* ... Additional styles for tablet view ... */
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .body0-section {
    margin: 30px 0px; /* Reduce the margin for smaller screens */
  }

  .body0-sec2-title-box {
    flex-direction: column;
  }

  .body0-sec2-heading {
    margin-bottom: 30px;
    margin-left: 5%;
  }

  .body0-container {
    padding: 0 20px; /* Add padding to the sides */
    max-width: 80%;
  }

  .body0-sec2-title-box {
    align-items: start;
  }

  .body0-sec2-title-box .learn-more-button {
    margin-left: 10%;
  }

  .body0-section:last-child .body0-indent:last-child {
    margin-left: 0;
  }

  .body0 .service-box {
    width: 100%;
  }
  
  .body0 .service-desc {
    align-items: center; /* Center-align the content */
    text-align: center; /* Center-align the text */
    width: 80%;
  }

  .body0-heading, .body0-sec2-heading, .service-heading {
    font-size: 24px; /* Reduce the font size */
  }

  .body0-sec1-content-desc, .service-desc {
    font-size: 14px; /* Reduce the font size for descriptions */
  }

  .learn-more-button a {
    padding: 12px 15px; /* Adjust padding for buttons */
    font-size: 13px; /* Reduce font size for text in buttons */
  }
  
  /* Adjust image styles for mobile */
  .body0 .service-img {
    width: 100px; /* Reduce image size */
    margin-top: 30px; /* Adjust margin */
  }
  
  /* ... Additional styles for mobile view ... */
}
