.phone-menu-tools > :first-child {
    transform: none;
  }
  
.phone-menu-tools > :not(:first-child) {
    opacity: 1;
}

.phone-menu-tools > :not(:first-child):hover {
    opacity: 1;
}

.phone-menu-tools > :not(:first-child) {
    opacity: 1;
}

.phone-menu-tools > a:nth-child(3) {
    transform: scale(1.10) translateX(4px);
  }
  
.phone-menu-tools > a:not(:nth-child(3)) {
    opacity: 0.75;
}

.phone-menu-tools > a:not(:nth-child(3)):hover {
    opacity: 1;
}

.phone-menu-tools > a:not(:nth-child(3)) {
    opacity: 0.75;
  }

.nav-tools > a:first-of-type {
    transform: scale(1.0);
    opacity: 0.85;
}

.nav-tools .curriculum-dropdown {
    transform: scale(1.05);
    opacity: 1;
}

.nav-tools > a:hover,
.curriculum-dropdown:hover,
.curriculum-heading:hover,
.curriculum-link:hover {
  opacity: .85;
}

.nav-tools > a:not(:nth-child(3)):hover,
.curriculum-dropdown:hover,
.curriculum-heading:hover,
.curriculum-link:hover {
  opacity: 1;
}

.about-bodypage {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: clip;
}

.about-homepage {
    background-color: transparent;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    transition: 1.5s ease-in-out;
    transform: scale(1.10);
    overflow-x: clip;
}

.homepage-heading {
    margin-top: 100px;
    font-size: 70px;
}

.homepage .typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #372966; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation:
      typing 1s steps(40, end) forwards,
      blink-caret 1s step-end 0s;
      width: 0;
      border-color: transparent;
}

.homepage-prompt {
    display: inline-flex;
    margin-top: 50px;
    align-items: center;
}

.homepage-prompt .learn-more-button,
.join-us-button {
    margin: 0px 20px;
}

.join-us-button {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    text-shadow: rgb(188, 146, 255) 6px 4px 1px, 0px 0px 10px rgb(188, 146, 255), 0px 0px 10px white, 0 0 25px white;
    transition: 0.3s;
}

.join-us-button:hover {
    text-shadow: rgb(160, 119, 255) 0px 0px 1px, 0px 0px 10px white, 0px 0px 10px white;
    transform: scale(1.08);
    color: rgb(236, 227, 255);
}

#mouse-scroll-box {
    max-width: 1000px;
    margin-top: 25px;
}

.body0 {
    margin-top: 200px;
}

.teach-line {
    border-width: 0.5px;
    max-width: 60%;
    margin-bottom: 25px;
    height: 1px;
    border: none;
    background-image: linear-gradient( to right, rgb(175, 144, 216), #0C0011 );
    transform: translateY(50px) scaleX(0);
    transition: 1s ease-in-out;
    box-shadow: -30px 0px 40px 10px rgba(224, 214, 250, 0.2);
}

.about-body1 {
    .body0 {
        margin: 150px 0px;
        font-family: gotu, 'Courier New', Courier, monospace;
        color: white;
        transition: 1s ease-in-out;
    }
  
    .body0-container {
      max-width: 750px;
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
    }

    .body0-indent {
      display: flex;
      flex-direction: column;
      margin-left: 0;
    }
    
    .title-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 80px;
      margin-top: 20px;
      transform: translateX(0px/*75*/);
      opacity: 1;
      transition: 1s ease-in-out;
      text-align: center;
      margin-left: 5%;
      opacity: 0;
      transform: translateY(50px);
      transition: 1s ease-in-out;
    }
    
    .title-box-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 85%;
    }

    .heading {
      margin: 0px;
      text-shadow: 0px 0px 25px white;
      transform: translateX(0px/*75*/);
      opacity: 1;
      transition: 1s ease-in-out;
      letter-spacing: 5px;
      font-size: 36px;
      font-weight: lighter;
    }
  
    .desc {
        font-family: 'Courier New', Courier, monospace;
        font-weight: lighter;
        font-size: 17px;
        opacity: 0.85;
        max-width: 80%;
        text-shadow: 0px 0px 25px white;
    }

    .title-box .learn-more-button {
        opacity: 0;
    }
    
    .workshops {
      display: flex;
      justify-content: space-between;
      min-width: 1500px;
      margin-bottom: 50px;
    }
    
    .coming-soon {
        min-width: 420px
    }

    .workshop-box {
      opacity: 1;
      transform: translateY(0px /*50*/);
      transition: 1s ease-in-out;
      border-radius: 45px;
      box-shadow: 0 0px 100px 0.1px rgba(224, 214, 250, 0.2);
      max-width: 420px;
      cursor: pointer;
        transform: translateY(50px);
        opacity: 0;
    }
  
    .workshop-box:hover {
      transform: scale(1.03);
    }
  
    .workshop-box:first-of-type {
      background-image: linear-gradient(to bottom left, #2a0841, #10021B);
    }
  
    .workshop-box:nth-of-type(2) {
      background-image: linear-gradient(to bottom, #2a0841, #10021B);
      box-shadow: 0 10px 100px 0.1px rgba(224, 214, 250, 0.2);
    }
  
    .workshop-box:last-of-type {
      background-image: linear-gradient(to bottom right , #2a0841, #10021B);
    }
  
    .workshop-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0px;
    }
  
  
    .workshop-img {
      width: 130px;
      margin-bottom: 15px;
      border-radius: 100px;
    }
  
    .workshop-line {
        border-image: linear-gradient( to bottom right, rgb(175, 144, 216), #0C0011 ) 1;
        min-width: 20%;
        margin-bottom: 15px;
    }

    .workshop-heading {
      font-family: gotu;
      max-width: 70%;
      text-align: center;
      letter-spacing: 1px;
      font-size: 22px;
      font-weight: lighter;
      margin: 0px;
    }

    .workshop-heading .bold {
        font-weight: lighter;
        color: rgb(218, 218, 218);
    }
  
    .workshop-desc-title {
        text-align: left;
        min-width: 70%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 0px;
        margin-top: 30px;
    }

    .workshop-desc {
      font-family: 'Courier New', Courier, monospace;
      font-weight: lighter;
      font-size: 16px;
      letter-spacing: 2px;
      max-width: 70%;
      line-height: 120%;
      margin-bottom: 40px;
    }
  
    .workshop-box .learn-more-button {
      border-image: linear-gradient( to bottom, rgba(221, 195, 255, 0.64), rgba(166, 57, 255, 0.1) ) 1;
    }

    .workshop-info {
        display: flex;
        justify-content: space-between;
    }
}



/* WORKSHOPS on PHONE */
@media (max-width: 1200px) {
    .about-body1 {
        .workshops {
            flex-direction: column;
            min-width: 0px;
        }
        .workshop-box {
            margin-bottom: 30px;
            max-width: 90%;
            margin-left: 5%;
        }
        .coming-soon {
            min-width: 0px;
        }
        .title-box {
            flex-direction: column;
            margin-left: 0px;
        }
        .title-box .learn-more-button {
            margin-top: 20px;
        }
        .title-box .learn-more-button a {
            font-size: 16px
        }
        .body0-container {
            padding: 0px;
        }
        .body0-container .body0-indent {
            margin-left: 0;
        }
    }
}